RewriteEngine On
Options -Indexes
RewriteBase /

# 设置静态文件浏览器缓存
<IfModule mod_expires.c>
    <IfModule mod_headers.c>
        <FilesMatch "\.(?i:(?!php).)*$">
            ExpiresActive On
            ExpiresDefault "access plus 1 year"
            Header set Cache-Control "max-age=31536000, public"
        </FilesMatch>
    </IfModule>
</IfModule>


# 防盗链
RewriteCond %{HTTP_REFERER} !^$ [NC]
RewriteCond %{HTTP_REFERER} !example.com [NC]
RewriteRule ^ - [L,F]

# 匹配任意文件类型
RewriteCond %{REQUEST_URI} !^/index.php
RewriteRule .* index.php [L]








