RewriteEngine On
Options -Indexes
RewriteBase /

# 防盗链
#RewriteCond %{HTTP_REFERER} !abc.com [NC]
#RewriteRule ^ - [L,R=404]

# 匹配任意文件类型
RewriteCond %{REQUEST_URI} !^/index.php
RewriteRule .* index.php [L]
